<a href="https://colab.research.google.com/github/Philip1961/Machine-Learning-for-Data-Analysts/blob/main/PDA_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Hello World - but this is a text cell

Strings

In [2]:
#@title
employee_name = "Miles Davis"
employee_email = "miles.davis@bpp.com"
print("The employee name is " + employee_name)
print("The employee email is " + employee_email)

The employee name is Miles Davis
The employee email is miles.davis@bpp.com

Numbers and Operators

In [ ]:
x = 5
y = 3
print(x + y)   # x plus y
print(x - y)   # x minus y
print(x * y)   # x multiplied by y
print(x / y)   # x divided by y
print(x ** y)  # x raised to the power y

8
2
15
1.6666666666666667
125

Importing packages

In [ ]:
import math
x = 49
print(math.sqrt(x))
print()
print(math.pi)

7.0

3.141592653589793

Combining strings and numbers...

In [ ]:
first_name = "Bill"
last_name = "Evans"
full_name = first_name + " " + last_name
print("The full name is " + full_name)

The full name is Bill Evans

In [ ]:
full_name = "Oscar Peterson"
salary = 99000.00
# error
# print("Employee " + full_name + " has a salary of £" + salary) 
#correct
print("Employee " + full_name + " has a salary of £" + str(salary))

Employee Oscar Peterson has a salary of £99000.0