<a href="https://colab.research.google.com/github/Philip1961/Machine-Learning-for-Data-Analysts/blob/main/pda_session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Multiple lines of comment
''' Text
Text
Text
'''
print("this works")

this works

In [ ]:
# examples of lists
colours = ['red', 'green', 'blue']
print ("The colour is:", colours[0])  #first element is references as the 0 element
colours[-1]

The colour is: red

'blue'

In [ ]:
# More examples of lists.  Items, ranges
ClassScores = [100, 20, 30, 15, 70, 45, 30]
ClassScores[0]
ClassScores[1]
ClassScores[3:20] # what will this do?
ClassScores[1:4]
ClassScores[3:]
ClassScores[:3]

[100, 20, 30]

In [ ]:
#Strings examples.  Single or double quotations
# len(), uppler(), lower()
MyName = "philip lambert"
print(len(MyName))
print(MyName.upper())
print(MyName.lower())
print(MyName.title())
print(MyName.split(' ')) #split the name into two

14
PHILIP LAMBERT
philip lambert
Philip Lambert
['philip', 'lambert']

In [3]:
# Boolean expressions.  True or False
1 == 2
1 != 2
'Philip' == 'Peter'
x = 10
x < 5
x >4 and x <11
x > 11 or x >9

True

In [ ]:
# Conditional statements.  NB indentations. NB colons

StudentScore = 50
if StudentScore > 50:
  print("Pass")
else:
  print("Fail")

StudentAttempt = 2
if(StudentScore) >=70 and StudentAttempt == 1:
  print("Distinction")
elif StudentScore > 50 and StudentAttempt >=1:
  print("Pass")
else:
  print("Fail")

In [18]:
# Loop statements.  Processing through a sequence
# FOR
StudentAges = [23, 21, 64, 23, 21, 22, 30]
for item in StudentAges:
  print("Student Age is:", item)

Student Age is: 23
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10
Student Age is: 21
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10
Student Age is: 64
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10
Student Age is: 23
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10
Student Age is: 21
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10
Student Age is: 22
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10
Student Age is: 30
Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10

In [20]:
# Loops - iterations
# Loops
i = 1

while i <=10:
    print("Iteration is:", i)
    i = i+1

Iteration is: 1
Iteration is: 2
Iteration is: 3
Iteration is: 4
Iteration is: 5
Iteration is: 6
Iteration is: 7
Iteration is: 8
Iteration is: 9
Iteration is: 10